.BigDivLogin{
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-image: linear-gradient( rgb(191, 45, 45), rgb(18, 18, 6));
 
    height: 835px;
}

.infoContainer{
    
    position: relative;
    bottom: 100px;
    /* right: 150px; */
color: white;
font-size: x-large;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;

   
    background-image: none;
    align-items: center;
    align-content: center;
  
    padding-bottom: 10px;
    margin: 5px;
    justify-content: center;
}

.emailInput{ 
    border-radius: 10px;
    width: 300px;
    margin-bottom: 0px;
    font-size: x-large;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}


.loginButton{
    color: white;
    border-radius: 15px;
    background-image: linear-gradient( rgb(191, 45, 45), rgb(18, 18, 6));
    border: none;
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    
}

.logo1{
    position:relative;

     left: 650px; 
    bottom: 90px;
    height: 600px;
    width: 600px;
    margin: 0%;
    /* position: relative;
    bottom: 80px; */
}
/* 
.logo2{
    position: relative;
    top: 50px;
} */



.new{
    position: relative;
    bottom: 160px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 350px;
}

.logo3{
    position: relative;
    left: 300px;
}