.BigDivLogin{
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-image: linear-gradient( rgb(191, 45, 45), rgb(18, 18, 6));
 
}

.infoContainer{
    
    position: relative;
    bottom: 100px;
    /* right: 150px; */
color: white;
font-size: x-large;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;

   
    background-image: none;
    align-items: center;
    align-content: center;
  
    padding-bottom: 10px;
    margin: 5px;
    justify-content: center;
}

.emailInput{ 
    border-radius: 10px;
    width: 300px;
    margin-bottom: 0px;
    font-size: x-large;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}


.loginButton{
    color: white;
    border-radius: 15px;
    background-image: linear-gradient( rgb(191, 45, 45), rgb(18, 18, 6));
    border: none;
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    
}

.logo1{
    position:relative;

     left: 650px; 
    bottom: 90px;
    height: 600px;
    width: 600px;
    margin: 0%;
    /* position: relative;
    bottom: 80px; */
}
/* 
.logo2{
    position: relative;
    top: 50px;
} */



.new{
    position: relative;
    bottom: 160px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 350px;
}

.logo3{
    position: relative;
    left: 300px;
}


.popuptry{
   color: black;
    border-radius: 15px;
position: absolute;
bottom:50px;
    background-color: rgba(255, 243, 243, 0.846);
    width: 1000px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.popuptry h1{
    position: relative;
    top:180px;
}