.Q{
    font-size: large;
    font-weight: bold;
    border-right: 1px solid black;
    border-left: 1px solid black;

    width: 150px;
    margin-bottom: 5px
}
.qb{
    margin-bottom: 5px;
    font-size: large;
}
.q{
font-size: x-large;}

.order{
    display: flex;
    justify-content: center;
}

.checkOut{
    border-radius: 15px;
    background-color: rgb(137, 137, 243);
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 30px;
}