.bigContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
}
.Container{
    cursor: pointer;
    display: flex;
    border: 1px solid black;

    margin-top: 10px;
    margin-left: 25px;
   justify-content: center;
   
   /*
   max-width: 300px;
   max-height: 500px;
   */
}

.imgDiv{
   display: block;
  
}
.img{
    
    margin-top: 3px;
    height: 250px;
    width: 250px;
    margin-bottom: .5px;

}



