.bigContainer{
 padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.Container{
   background-color: rgb(251, 251, 251);
    display: flex;
    border: 3px solid #083d77 c;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 25px;
   justify-content: center;
   color: rgba(0, 0, 0, 0.987);
   /*
   max-width: 300px;
   max-height: 500px;
   */
}

.imgDiv{
   display: block;
  
}

.img{
    
    margin-top: 3px;
    height: 250px;
    width: 250px;
    margin-bottom: .5px;
    
}

.slideShow{
    margin-top: 25px;
    height: 300px;
}


.bigbig{
    display: grid;
    grid-template-columns:  3fr;
}

.title{
    cursor: pointer;
    transition:  transform 1.5s;
}
.title:hover{
  
  transform: rotate(10deg);
}


@media all and (max-width: 480px) {


    .bigContainer{
       
       grid-template-columns: 1fr;
    }

    .itemContainer{
        width: 220vw;
    }
    .image-container{
        width: 300vw;
    }

    .slideShow{
        width: 300vw;
    }
 }