.ContainerDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    margin-top: 100px;
    margin-left: 25px;
   justify-content: center;

}



.imgDetails{
  justify-content: flex-start;
    margin-top: 3px;
    height: 500px;
    width: 500px;
    margin-bottom: .5px;
  /* border: 1.5px solid black;*/
    
}



.itemContainerDetails{
width: 700px;
height:  500px;
  border: 1px solid black;
  
}


.addToCart {
  border-radius: 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Buttons{
  display: flex;
  justify-content: space-around
}


.commentsDiv{
  border: black solid 3px;
}
.New {
  height: 30px;
    font-size: large;
    width: 300px;
}

.logo{
  width: 25px;
}


.likeButton{
  display: flex;
  border-radius: 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  align-items: flex-end;
  font-size: 18px;
}