.ContainerDetails{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    margin-top: 100px;
    margin-left: 25px;
   justify-content: center;

}



.imgDetails{
  justify-content: flex-start;
    margin-top: 3px;
    height: 500px;
    width: 500px;
    margin-bottom: .5px;
  /* border: 1.5px solid black;*/
    
}



.itemContainerDetails{
width: 700px;
height:  fit-content;
  
}


.addToCart {
  border-radius: 10px;
  background-image: linear-gradient( rgb(191, 45, 45), rgb(18, 18, 6));
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

}

.Buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}


.commentsDiv{
  border: black solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.New {
  height: 30px;
    font-size: large;
    width: 300px;
}

.logo{
  width: 25px;
}
.bigContainer1{ padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;}

.likeButton{
  display: flex;
  border-radius: 10px;
  background-image: linear-gradient( rgb(191, 45, 45), rgb(18, 18, 6));
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
}


.textArea{
  height: 20px;
  width: 255px;
  font-size: large;

}

.text_button{
  display: flex;
}

.comments{ 
  display: flex;
  padding-left: 10px;

}

.eachComment{
  

 
}

.commenter{
  font-size: large;
  font-weight: bold;
}

.topRev{
  margin-bottom: 0px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.commentButton{
  border-radius: 5px;
color: white;
font-weight: bold;
  background-image: linear-gradient( rgb(191, 45, 45), rgb(18, 18, 6));
}

  .hr {
   border: solid 2px;
    
  }


  .newDiv{
    display: grid;
  grid-template-columns: 1fr 1fr;
  }


.h11{
  position: absolute;
  top: 650px;
  right: 400px;
}

.Rev1{
  display: grid;
  grid-template-columns: .5fr 3fr;
}

  @media all and (max-width: 480px) {

    .BigDiv1{
      display: grid;
      grid-template-rows: 1fr  ;
  
      
   
     
  }
  .itemContainer{
    width: 55%;
}
  .newDiv{
    display: grid;
  grid-template-columns:  1fr;
  width: 300vw;
  position:relative;
  left: 170px;
  }

 
  .imgDetails{
  position: relative;
  right: 200px;
  }

  .bigContainer1{     grid-template-columns: 1fr;
   }
 }