@import "react-slideshow-image/dist/styles.css";

.slide-container{
height : 300px
}

.each-fade{
height : 300px
}

.imagee{
    height: 300px;
    border-radius: 10px
}
.image-container{
    
    height: 300px;

}